#bm-breadcrumb {
    margin-bottom: -1.8em !important;
    margin-left: -2.2em !important;
}

a.breadcrumb {
    background-color: transparent !important;
}

#ckoTabs td {
    border-bottom: solid 0.01em #dadada !important;
}